*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grilla{
    display: grid;
}




#img_header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    list-style-type:none;
    
   
}

li{
    display: inline-block;
    margin: 0rem 1rem;
   
}

li a{
    text-decoration: none;
    font-style:o normal;
    font-weight: 800;
    color: black;
    
          
}




/*SM XS*/
@media only screen and ( max-width:600px){
    body{
        background-image: linear-gradient(rgb(74, 183, 237),rgba(28, 244, 179, 0.719));
       
    }     
    
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 600px 60px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }


    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 80px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
        position: sticky;
        top:0px;

    }

    #header_div{
        grid-area:n1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 15px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        position: sticky;
        top:0px;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 15% 2% 2% 15% 60%;
        grid-template-areas: "m1"
                             "m2"
                             "m3"
                             "m4"
                             "m5";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 80%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        
    #main_img{
        grid-area: m4;
        width: 60%;
        height: 90%;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    
    #form{
        grid-area: m5;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }   
   
   .formulario{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
    }
    
        
    .formulario__label {
        width: 300px;
        display: flex;
        font-weight: 700;
        cursor: pointer;
 
    }
        
           
    .formulario__input {
        width: 100%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 40px;
        line-height: 45px;
        padding: 0 70px 0 60px;

    }
   
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        position: sticky;
        bottom:0px;
        height: 50%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}

/*MD*/

@media only screen and ( min-width:600px){


    body{
        background-image: linear-gradient(rgb(74, 183, 237),rgba(10, 136, 98, 0.719));
       
    }     
    
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 600px 60px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }


    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 80px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
        position: sticky;
        top:0px;

    }

    #header_div{
        grid-area:n1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 15px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        position: sticky;
        top:0px;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 40% 50%;
        grid-template-rows: 10% 3% 3% 70%;
        grid-template-areas: "m1 m1"
                             "m2 m2"
                             "m3 m4"
                             "m5 m6";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        
    #main_img{
        grid-area: m5;
        width: 90%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    
    #form{
        grid-area: m6;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }   
   
   .formulario{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
    }
    
        
    .formulario__label {
        width: 300px;
        display: flex;
        font-weight: 700;
        cursor: pointer;
 
    }
        
           
    .formulario__input {
        width: 100%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 40px;
        line-height: 45px;
        padding: 0 70px 0 60px;

    }
   
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        position: sticky;
        bottom:0px;
        height: 50%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}
/* LG */

@media only screen and ( min-width:992px){

    body{
        background-image: linear-gradient(rgb(74, 183, 237),rgba(5, 68, 49, 0.719));
       
    }     
    
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 600px 60px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }


    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 80px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
        position: sticky;
        top:0px;

    }

    #header_div{
        grid-area:n1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 15px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        position: sticky;
        top:0px;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 10% 3% 3% 70%;
        grid-template-areas: "m1 m1"
                             "m2 m2"
                             "m3 m4"
                             "m5 m6";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        
    #main_img{
        grid-area: m5;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
    }
    
    #form{
        grid-area: m6;
        display: flex;
        justify-self: center;
        align-self: center;
    }   
   
   .formulario{
        display: grid;
        grid-template-columns: 100%;
        grid-gap: 30px;
    }
    
        
    .formulario__label {
        width: 400px;
        display: flex;
        font-weight: 700;
        cursor: pointer;
 
    }
        
           
    .formulario__input {
        width: 100%;
        background: #fff;
        border: 3px solid transparent;
        border-radius: 3px;
        height: 50px;
        line-height: 45px;
        padding: 0 70px 0 60px;

    }
        
    
    
    
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        position: sticky;
        bottom:0px;
        height: 50%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}