*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grilla{
    display: grid;
}

body{
    background-color: rgb(74, 183, 237);
   
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type:none;
   
}

li{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}








header{
    display: flex;
    justify-content:space-between;
    position: sticky;
    top:0px;
    height: 80px;
    background-color: rgb(74, 183, 237);
    align-items:center;
    border-top: 5px double black; 
    border-bottom: 5px double black; 
   
}

.header_img{
    width: 50px;
    height: 50px;
    margin-left: 0.5cm;
}





main{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0rem 2 rem;
}

.main_titulo{
    width: 30%;
   
}


.main_titulo h1{
    margin-bottom: 3rem;
    text-align: center;
   
}

.main_titulo p{
    margin-bottom: 1,5rem;
    text-align: center;
    font-size: 20px;
   

}

.main_contacto{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0rem 1rem; 
}    

.main_contacto_titulo{
    text-align: center;
    width: 40%;
   
}
.main_img_contacto{
    width:40%
    
}
    
.main_contacto_titulo p{
    margin-bottom: 1,5rem;
    margin-top: 1,5rem;
    text-align: center;
    font-size: 20px;
}   


.main_ubicacion{
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 0rem 1rem; 
}    

.main_ubicacion_titulo{
    text-align: center;
    width: 90%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.main_ubicacion_titulo_div1{
    width:50%;
    text-align: center;
}

.main_ubicacion_titulo_div2{
    width:50%;
    text-align: center;
}
    
.main_ubicacion_titulo p{
    margin-bottom: 1,5rem;
    margin-top: 1,5rem;
    text-align: center;
    font-size: 20px;
}   



.main_imagenes{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 3rem 1rem; 
   
}    

.main_imagenes_titulo{
    align-items:center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 50%;
    text-align: center;
 }

.main_imagenes_titulo_div1{
    align-items:center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 50%;
   
}


.main_imagenes_titulo_div2{
    align-items:center;
    display: flex;
    flex-direction:column;

}

.main_imagenes_titulo_div2 img{
    width:60%;
    border-top-left-radius: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
   
    
   
}
    
.main_imagenes_titulo p{
    margin-bottom: 1,5rem;
    margin-top: 1,5rem;
    text-align: center;
    font-size: 20px;
}   


.main_tipos{
    display:flex;
    align-items:center;
    justify-content:center;
    padding: 1rem 1rem; 
   
}    

.main_tipos_titulo{
    align-items:center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 60%;
    text-align: center;
}
.main_tipos_titulo1{
    align-items:center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 40%;
    text-align: center;
}

.main_tipos_titulo1 img{
    width:70%;
    border-top-left-radius: 1rem;
    margin-top: 0,2rem;
    margin-bottom: 0,2rem;
}  

.main_tipos_titulo_div1{
    align-items:center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 100%;
    margin-top: 0,1rem;
    margin-bottom: 2rem;
}


.main_tipos_titulo_div2{
    align-items:center;
    display: flex;
    flex-direction:column;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.main_tipos_titulo p{
    margin-bottom: 1,5rem;
    margin-top: 1,5rem;
    text-align: center;
    font-size: 20px;
}

.main_tipos_titulo_div2_form{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}





.tarjetas{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
}


.tarjeta{
    width: 25%;
    text-align:center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    padding: 0rem 1,5rem;
}   

.tarjeta img{
    width: 60%;
    height: 5rem;
}


.tarjeta h3{
    margin-bottom: 2rem;
    text-align: center;
}

.form {
        width: 400px;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
.form input {
        width: 90%;
        height: 30px;
        margin: 0.5rem;
      }
      



footer{
    display: flex;
    justify-content:space-around;
    position: sticky;
    bottom:0px;
    height: 20px;
    background-color: rgb(74, 183, 237);
    align-items:center;
    border-top: 5px double black; 
    margin-top: auto;
    padding-top: 20px;
    
   
}
