*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grilla{
    display: grid;
}




#img_header{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul{
    display: flex;
    flex-wrap: nowrap;
    list-style-type:none;
    
   
}

li{
    display: inline-block;
    margin: 0rem 1rem;
   
}

li a{
    text-decoration: none;
    font-style:o normal;
    font-weight: 800;
    color: black;
    
          
}




/*SM XS*/
@media only screen and ( max-width:600px){

    body{
        background-image:linear-gradient(rgb(149, 214, 247), rgb(247, 10, 10));
       
    } 
    #grilla{

        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 70px 950px 80px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }

    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 70px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
       
    }

    #header_div{
        grid-area:n1;
        width: 80%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 5px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 3% 1% 1% 30% 1% 30% 10%;
        grid-template-areas: "m1" 
                             "m2"
                             "m3"
                             "m4"
                             "m5"
                             "m6"
                             "m7";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 50%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 40%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        

    #main_titulo_p1{
        grid-area:m3;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        text-align: center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    #main_temporada_1{
        grid-area:m4;
        height: 100%;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
       
    }

    #main_titulo_p2{
        grid-area:m5;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    #main_temporada_2{
        grid-area:m6;
        height: 100%    ;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
    }
    input {
        float: left;
        
    }

    #main_img{
        width: 250px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #main_temporada_3{
        grid-area:m7;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-direction:column;
    }
    
       
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        height: 60%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}

/*MD*/

@media only screen and ( min-width:600px){

    
    body{
        background-image: linear-gradient(rgb(111, 196, 239),rgb(239, 83, 83));
       
    }   
    #grilla{

        display:grid;
        grid-template-columns: 90%;
        grid-template-rows: 70px 650px 50px;
        grid-template-areas:"header"
                            "main"
                            "footer";
    }

    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 70px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
        position: sticky;
        top:0px;
    }

    #header_div{
        grid-area:n1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        position: sticky;
        top:0px;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 6% 5% 2% 60% 15%;
        grid-template-areas: "m1 m1"
                             "m2 m2"
                             "m3 m4"
                             "m5 m6"
                             "m7 m7";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        

    #main_titulo_p1{
        grid-area:m3;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        text-align: center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 50px;
    }
    #main_temporada_1{
        grid-area:m5;
        height: 100%;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
        margin-left: 100px;
    }

    #main_titulo_p2{
        grid-area:m4;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 50px;
    }
    #main_temporada_2{
        grid-area:m6;
        height: 100%    ;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
    }
    input {
        float: left;
        
    }

    #main_img{
        width: 250px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #main_temporada_3{
        grid-area:m7;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size:15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-direction:column;
    }
    
       
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        position: sticky;
        bottom:0px;
        height: 50%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}
/* LG */

@media only screen and ( min-width:992px){

    body{
        background-image: linear-gradient(rgb(74, 183, 237),rgba(245, 96, 62, 0.719));
       
    }     
    
    #grilla{

        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 80px 600px 60px;
        grid-template-areas:"header"
                            "main"
                            "footer";

    }


    header{
        grid-area: header;
        display:grid;
        grid-template-columns: 10% 80%;
        grid-template-rows: 80px;
        grid-template-areas: "n1 n2";
        justify-content: space-evenly;
        align-content: space-around;
        position: sticky;
        top:0px;

    }

    #header_div{
        grid-area:n1;
        width: 70%;
        height: 70%;
        display: flex;
        justify-self: center;
        align-self: center;
        margin-top: 10px;
        
        }
   
    nav{
        grid-area: n2;  
        display: flex;
        justify-content:right;
        position: sticky;
        top:0px;
        height: 80%;
        align-items:center;
        border-bottom: 5px double black; 
       
    }

    #main_grilla{
        display:grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 6% 2% 1% 70% 15%;
        grid-template-areas: "m1 m1"
                             "m2 m2"
                             "m3 m4"
                             "m5 m6"
                             "m7 m7";                               
        grid-area:main;
        justify-content: space-evenly;
        align-content: space-around;
    }

    #main_titulo_h1{
        grid-area:m1;
        height: 100%;
        width: 100%;
        display: flex;
        text-justify: center;
        align-items: flex-end;
        justify-content: center;
      
    }
    
    
    #main_titulo_p{
        grid-area:m2;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-direction: row;
        font-size:18px;
 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
        

    #main_titulo_p1{
        grid-area:m3;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        text-align: center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        margin-left: 150px;
       
    }
    #main_temporada_1{
        grid-area:m5;
        height: 100%;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
    }

    #main_titulo_p2{
        grid-area:m4;
        height: 50%;
        width: 50%;
        display: flex;
        justify-self:center;
        align-items:center;
        font-size:18px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    }
    #main_temporada_2{
        grid-area:m6;
        height: 100%    ;
        display: flex;
        justify-items:center;
        align-items: center;
        flex-direction:column;
    }
    input {
        float: left;
        
    }

    #main_img{
        width: 252px;
        height: 112px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    #main_temporada_3{
        grid-area:m7;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items:center;
        font-size:15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        flex-direction:column;
    }
    
       
    
    footer{
        grid-area:footer;
        display: flex;
        justify-content:center;
        position: sticky;
        bottom:0px;
        height: 50%;
        align-self:center;
        border-top: 5px double black; 
        margin-top: 0rem;
    }
}